<div class="text-center m-3">
    <h1>Talent Dashboard</h1>
</div>

<form class="form-inline" action="/api/searchBy" method="POST">
    <input class="form-control mr-sm-2" type="search" placeholder="Search by title, skill or company"
        aria-label="Search" id="position" name="position">
    <input class="form-control mr-sm-2" type="search" placeholder="Search by city, state or country" aria-label="Search"
        id="location" name="location">
    <button class="btn btn-primary mx-1 my-sm-0" type="submit">Search</button>
    <button class="btn btn-info mx-1 my-sm-0" type="submit" action="/api/searchBy" method="POST">Trend Graphs</button>
</form>
<br>
{{!-- <h3>Counts: 
  {{!-- SeekAus => {{parsedSeekAus.jobs.length}},  --}}
  {{!-- IndeedAUS: {{parsedIndeedAus.jobs.length}}  --}}
  {{!-- {{!-- UK: {{parsedIndeedUk.jobs.length}},  --}}
  {{!-- SA: {{parsedIndeedUsa.jobs.length}} --}}
{{!-- </h3> --}}
{{!-- {{!-- <h4>Technology: {{tech}}</h4>  --}}

<div class="row">
    <div class="col-8">
        {{#each set}}

        <div class="card w-75 border-0">
          <br>
          <div class="card-body">
            <h5 class="card-title">{{this.company.display_name}}</h5>
            <p class="card-text">
              {{this.location.display_name}}
              {{!-- {{this.location.area}} --}}
            </p>
            <span>
              <button type="button" class="btn btn-info">Apply
                <a target="_blank" href="{{this.redirect_url}}"></a>
              </button>
              <sub>{{adzuna this.__CLASS__}}</sub>
            </span>
            <br>
          </div>
          <div class="card-footer bg-transparent border-success p-0"></div>
        </div>
        {{/each}}
    </div>
    <div class="col-4">

        <div class="div1"></div>

        <div class="card card-body">
          <div id="chart">
            <h3>Heading</h3>
          </div>
        </div>
        <div class="card card-body">
          <div id="chart1">
          </div>
        </div>
        <div class="card card-body">
          <div id="chart2">
          </div>
        </div>
    </div>

</div>
</div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

 <script>

      
      
  var options = {  chart: {
    type: 'line'
  },
  series: [{
    name: 'sales',
    data: [30,40,35,50,49,60,70,91,125]
  }],
  xaxis: {
    categories: [1991,1992,1993,1994,1995,1996,1997, 1998,1999]
  }
}


        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
      

var chart = new ApexCharts(document.querySelector("#chart"), options);
  var options = {
          series: [44, 55, 13, 43, 22],
          chart: {
          width: 380,
          type: 'pie',
        },
        labels: ['Team A', 'Team B', 'Team C', 'Team D', 'Team E'],
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
        };
var chart1 = new ApexCharts(document.querySelector("#chart1"), options);
var chart2 = new ApexCharts(document.querySelector("#chart2"), options);



chart.render();
chart1.render();
chart2.render();


           
    </script>
