<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3"> Welcome</p>


<form class="form-inline" action="/api/searchBy" method="POST">
    <input class="form-control mr-sm-2" type="search" placeholder="Search by title, skill or company"
        aria-label="Search" id="position" name="position">
    <input class="form-control mr-sm-2" type="search" placeholder="Search by city, state or country" aria-label="Search"
        id="location" name="location">
    <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
</form>
<br>
<h3>Counts: SeekAus => {{parsedSeekAus.jobs.length}}, IndeedAUS: {{parsedIndeedAus.jobs.length}}, UK:
    {{parsedIndeedUk.jobs.length}}, USA: {{parsedIndeedUsa.jobs.length}}
</h3>
<h4>Technology: {{tech}}</h4>

<div class="row">
    <div class="col-8 ">
        {{#each set}}
        <h3>Jobs List from {{this.__CLASS__}} </h3>

        <div class="card w-75 border-0">
            <div class="card-body">
                <h5 class="card-title">Company: {{this.company.display_name}}</h5>
                <p class="card-text">
                    City:{{this.location.display_name}}
                    Country:{{this.location.area}}
                </p>
                <div class="card-footer bg-transparent border-success">
                    <a href="{{this.redirect_url}} ">Reference</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="col-4">

        <div class="card card-body">
            <div id="chart">
            </div>
        </div>
        <div class="card card-body">
            <div id="chart1">
            </div>

        </div>
        <div class="card card-body">
            <div id="chart2">
            </div>
        </div>
    </div>

</div>
</div>
</div>

<a href="/users/logout" class="btn btn-secondary">Logout</a>
